* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: #4f46e5;
    --secundaria: #7c3aed;
    --escuro: #0f172a;
    --maisescuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
    padding-top: 100px;
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 23, 42, 0.9);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2rem;
    flex-wrap: wrap;
}

.menu-link {
    color: var(--claro);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
}

.menu-link:hover::after {
    width: 100%;
    transition: width 0.5s;
}

.foto-perfil {
   
    width: 350px;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(79,70,229,0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    margin-top: 0,5px;
    

}

.cabeçalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
    font: 100px;
}

h1 {
    font-size: 2rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
    margin-top: 10px; 
}


.titulo-principal {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10rem 2rem;
    text-align: center;
    margin-top: 10rem;
}


.Sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin:0 auto;
    margin-top: 10px;
}

.sobre-caixa {
    padding: 3rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 2px solid var(--vidro);
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.05);
    
}

.sobre-paragrafo {
    text-align: justify;
    font-size: 1.2rem;
    
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}


.projeto-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin: 2rem 0;
    margin-top: 30rem;
}
.projeto-descricao {
    font-size: 1.5rem;
    color: var(--claro);
    text-align: center;
    margin: 2rem 0;
}

.projeto-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    transition: all 0.3s ease;
}

.projeto-card:hover {
    box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
    transform: translateY(-10px) scale(1.05);
    cursor: pointer;
}

.projeto-imagem {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.info-projetos {
    font-size: 1.5rem;
    color: var(--primaria);
    padding: 1rem;
    text-align: center;
}

.paragrafo-projeto {
    padding: 0 1rem 1.5rem 1rem;
    font-size: 1rem;
    text-align: center;
}

.contatos {
    padding: 3rem 2rem;
    max-width: 600px;
    color: #9c88bd;
    font-size: 25px;
    text-align: left;
    justify-content: center;
    align-items: center;
    max-width: inherit;
   

}

.contatos-titulo {
    font-size: 2rem;
    color: var(--claro);
    text-align: center;
    margin: 2rem 0;
    margin-top: 8rem;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background:  rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: 1px solid var(--vidro);
    border-radius: 16px;
    padding: 2rem;
}

.form-group {
    width: 100%;
    margin-bottom: 1.5rem;
}

.camp-form {

    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    background: var(--maisescuro);
    border: 1px solid var(--vidro);
    color: var(--claro);
    outline: none;

}

.camp-form:focus {
    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(79, 70, 229, 0.3);
}

.botao-enviar {
    background: var(--primaria);
    color: var(--claro);
    padding: 1rem 2rem;
    border-radius: 8px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.botao-enviar:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(79, 70, 229, 0.2);
}


input:focus,
textarea:focus {
    border: 1px solid var(--secundaria);
    box-shadow: 0 0 5px var(--primaria);
    outline: none;
}
.rodape {
    width: 100%;

    margin-top: 4rem;
    padding: 2rem;
    align-items: flex-start;
    background-color: var(--maisescuro);
    color: var(--claro);
    font-size: 1rem;
    border-top: 1px solid var(--vidro); 
  }
  
  .rodape a {
    color: var(--primaria);
    text-decoration: none;
    margin: 0 0.5rem;
    transition: color 0.3s ease;
  }
  
  .rodape a:hover {
    color: var(--secundaria);
  }
  
  .assinatura {
    text-align: center;
    
    background-color: var(--maisescuro); 
    width: 100%;
  }
 